extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  
  section.hero
    .hero__socials
      ul.socials__list
        each social in ['vk', 'github', 'in']
          li.socials__item
            a(href="").socials__link
              +icon(social, 'socials__icon')
    .hero__menu
      a(href="").hamburger
        .hamburger__planks
    .hero__content
      +image('bg/portfolio_header.png', 'page title', 'title-img')
      .hero__user-desc
        .user
          .user__pic-container
            .user__pic
              +image('info/me.JPG', 'user pic', 'user__pic-img')
          .user__info
            .user__name Анастасия Ковригина
            .user__desc Личный сайт веб разработчика
    .about__triangle
      svg(viewbox="0 0 1000 150").triangle.triangle--fill-beige
        polygon(points="0 0, 1000 150, 0 150")
      //svg(viewbox="0 0 1000 150").triangle.triangle--fill-white
          polygon(points="0 150, 1000 150, 1000 0")
    .about__triangle
        svg(viewbox="0 0 1000 150").triangle.triangle--fill-white
          polygon(points="0 150, 1000 150, 1000 0")
    .hero__arrow-down
      +icon('arrow_down', 'arrow_down')

      
  section.about
    .about__col.about__col__background-beige
      .about__head
        .about__left-title.section__title
          h1.title Обо мне
      .about__user-info
        .user-info
          .user-info__avatar
            img(src="/assets/images/info/me.jpg", alt="").user-info__avatar-pic
          .user-info__title
            h2.subtitle Кто я
          .user-info__text.text-block
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus laudantium quo quae maxime cum? Quo accusamus consequatur nesciunt amet suscipit molestiae aut laboriosam a atque, possimus vero ea fuga dolorum!
            br
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, voluptate. Consectetur dolores ullam autem laborum non quas, maxime esse voluptatem, dicta voluptatum tenetur nam ut ducimus culpa explicabo blanditiis ratione!
    .about__col.about__col__background-white
      .about__right-title
        h2.subtitle Чем я могу быть Вам полезен
      .about__desc-text.text-block
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum accusantium labore cum sunt laudantium? Officiis aliquid illum, molestias facilis harum dolorem aspernatur non consectetur cum, architecto maxime cupiditate eos ullam!
      .about__content
        ul.skills
          each item in ['Frontend', 'Backend', 'WorkFlow']
            li.skills__item.skills-row
              .skills-row__title #{item}
              ul.skills-row__list
                each skill in ['HTML', 'CSS', 'JavaScript & jQuery']
                  li.skills-row__item
                    .skill
                      .skill__circles
                        svg.skill__circle.skill__circle--under
                        svg.skill__circle.skill__circle--above
                      .skill__title #{skill}

  section.geolocation
    #map.map
    .map__content
      .contacts
        .contacts__title
          h2.subtitle Контакты
        ul.contacts__list
            li.contacts__item.contacts-row
              .contacts-row__icon
                +icon(skype, 'contacts__icon')
              .contacts-row__title live:8e3e0a527043f054
            li.contacts__item.contacts-row
              .contacts-row__icon
                +icon(envelope, 'contacts__icon')
              .contacts-row__title anastasiia.kovrighina@mail.ru
            li.contacts__item.contacts-row
              .contacts-row__icon
                +icon(phone, 'contacts__icon')
              .contacts-row__title +7 977 13 43 55
            li.contacts__item.contacts-row
              .contacts-row__icon
                +icon(map_marker, 'contacts__icon')
              .contacts-row__title г.Москва, ул.Дениса Давыдова, д.9

  
block scripts
  script(src="https://api-maps.yandex.ru/2.1/?apikey=db1817ab-4f82-4853-a8c7-96a3084f9042&lang=ru_RU" type="text/javascript")   